.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #6f4dce;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 2px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.disp {
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid blueviolet;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
}

 
  #transitions {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #transitions td, #transitions th {
    border: 1px solid #ddd;
    padding: 8px;
    align-items: center;
    box-sizing: border-box;
  }
  
  #transitions tr:nth-child(even){background-color: #f2f2f2;}
  
  #transitions tr:hover {background-color: #ddd;}
  
  #transitions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(77, 135, 202);
    color: white;
  }